body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main {
  width: 100%;
  height: 100vh;
  background-image: url(images/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clock {
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 45vh;
  text-shadow: 2px 2px 5px red;
}
#time {
  font-family: serif;
  font-size: 100px;
}
#date {
  font-size: 32px;
}

#quote {
  padding: 5px 8px;
  color: white;
  margin-top: 50px;
  font-family: cursive;
  box-shadow: 0 0 10px 10px gold;
  animation: 1s quote infinite;
}

@keyframes quote {
  to {
    box-shadow: 0 0 50px 10px blue;
  }
}

@media (max-width: 768px) {
  #time {
    font-size: 70px;
  }
  #date {
    font-size: 25px;
  }
  .clock {
    margin-top: 35vh;
  }
}
@media (max-width: 480px) {
  #time {
    font-size: 50px;
  }
  #date {
    font-style: 20px;
    margin-top: 20px;
  }
  .clock {
    margin-top: 20vh;
  }
  #quote {
    margin-top: 20vh;
  }
}
